/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
  -fx-max-height: 1000px;
  -fx-max-width: 1000px;
}
.text-field {
  -fx-alignment: center-left; 
  -fx-min-width: 500px; 
}